<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{$ meta.title $} - {$ title $}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,600,600italic,300' rel='stylesheet' type='text/css'>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
</head>

<body>
  <header class="{$ styles.header $}">
    <a href="/" class="{$ styles.brand $}"><div class="{$ styles.logo $}"></div></a>
    {% if meta.repository %}
      <a href="{$ meta.repository $}" title="{$ siteTitle $} Github Repo" target="_blank" class="{$ styles.github $}"></a>
    {% endif %}
  </header>
  <div id="masthead" class="{$ styles.masthead $}">
    <p class="{$ styles.intro $}">Swanky Docs is an open source eco system for creating beautiful documentation.</p>
    <a href="#get-started" title="Learn how to get started with Swanky Docs" class="{$ styles['btn-default'] $}">Get Started</a>
  </div>
