/*
 * Swanky Site Theme
 * Variables
 */

$base-font-size = 1.6rem

// Base Colours
$black = #42434F
$blue = #2C385A
$green-lime = #21E779
$grey-light = #EBEBEB
$grey-lightest = #FBFBFB

// Brand Colours
$brand-primary = #FF5A60
$brand-secondary = #9FCDDC

// Sizes
$width-mobile =  (480 / 16)em
$width-tablet = (768 / 16)em
$width-sm-desktop =  (992 / 16)em
$width-md-desktop = (1400 / 16)em;
$width-lg-desktop = (1800 / 16)em;


// Device sizes
$screen-is-bigger-than-mobile =  $width-mobile
$screen-is-bigger-than-tablet = $width-tablet
$screen-is-bigger-than-sm-desktop =  $width-sm-desktop
$screen-is-bigger-than-md-desktop = $width-md-desktop
$screen-is-bigger-than-lg-desktop = $width-lg-desktop
