/*
 * Swanky Site Theme
 * Branding
 */

 .brand
   display block
   top 50%
   left: 20px
   position absolute
   transform translate(0, -50%)

   @media screen and (min-width: $screen-is-bigger-than-sm-desktop)
     left 50%
     transform translate(-50%, -50%)

  .logo
    width 200px
    height 79px
    background url('../img/swanky-logo.svg') no-repeat
    background-size @width @height

  .text
    font-size 2rem
    text-transform uppercase
    color #fff
    display inline-block
    vertical-align top
    margin-left 15px
    margin-top 18px

   &:hover, &:focus
    text-decoration none
