.browser-chrome
  position relative
  background #F2F2F2
  border-top-left-radius 6px
  border-top-right-radius 6px
  border-bottom-left-radius 3px
  border-bottom-right-radius 3px
  border-color transparent
  overflow hidden

.screenshot
  position absolute
  left 0px
  right 1px
  top 38px
  bottom 2px
  border-color transparent
  border-bottom-left-radius 3px
  border-bottom-right-radius 3px
  overflow hidden

.window-bar
  height 38px
  background #eee

.window-bar .circles
  margin 8px 15px 0 15px
  float left

.window-bar .circle
  display inline-block
  width 8px
  height 8px
  margin-right 5px
  border-radius 50%
  background-color #fff
  border 1px solid #fff

.window-bar .circle-red
  background-color #fc615c
  border-color #fd504a

.window-bar .circle-yellow
  background-color #fec041
  border-color #f0b542

.window-bar .circle-green
  background-color #33c849
  border-color #1bc634
