.callout
  background $grey-lightest
  text-align center
  font-size 2.6rem
  color #000

  .content
    padding 30px 40px

    @media screen and (min-width: $screen-is-bigger-than-lg-desktop)
      padding 50px 40px 50px

    p
      margin 0

  &.callout-primary
    background $brand-secondary
    font-style italic
    color #fff
