.code-well
  background $grey-lightest
  border 1px solid $grey-light
  border-radius 3px
  padding 20px
  overflow auto

  code:before
    content ">"
    color $brand-secondary
    margin-right 15px

code
  font-family monaco,Consolas, "Fira+Mono", monospace
