/*
 * Swanky Site Theme
 * Header
 */

.header
  position fixed
  z-index 15
  top 0
  width 100%
  border-top 2px solid $brand-primary
  border-bottom 1px solid $grey-light
  background #fff
  height 100px
