.hexagon-sm
  display inline-block
  width 25px
  height 25px
  background url(../img/hexagon-sm.svg)
  background-size 25px 25px


.hexagon-md
  display inline-block
  width 40px
  height 40px
  background url(../img/hexagon-md.svg)
  background-size 40px 40px

.hexagon-lg
  display inline-block
  width 100px
  height 100px
  background url(../img/hexagon-lg.svg)
  background-size 100px 100px

.hexagon-inline
  top 50%
  position absolute
  transform translate(-150%, -50%)

.hexagon-left
  top 0
  transform translate(0, -50%)
  left 0
  position absolute

.hexagon-right
  top 0
  transform translate(0, -50%);
  right 0
  position absolute
