// Github
.github
  position fixed
  z-index 5
  right 40px
  top 35px
  width 33px
  height 32px
  background url('../img/github.svg') no-repeat
  background-size @width @height
  display inline-block
