/*
 * Swanky Site Theme
 * Typography
 */

body
  line-height 1.4

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  font-weight: 300;
  font-family 'Open Sans', sans-serif
  display: block
  margin: 5px 0 10px

h1, .h1
  font-size 2.8rem

h2, .h2
  font-size 2.2rem

h3, .h3
  font-size 2rem
  font-weight 700

h4, .h4
  font-size 1.8rem
  font-weight 700

h5, .h5
  font-size 1.6rem

h6, .h6
  font-size 1.4rem

.lead
  text-align center
  font-size 1.8rem

p
  margin-bottom 2rem

strong
  font-weight 700

a, &:visited
  color $brand-primary
  text-decoration none

  &:hover
    text-decoration underline

.text-center
  text-align center
